<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="hbm2ddl.auto">update</property>
    <property name="connection.provider">
      NHibernate.Connection.DriverConnectionProvider
    </property>
    <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
    <property name="query.substitutions">hqlFunction=SQLFUNC</property>
    <property name="connection.driver_class">
      NHibernate.Driver.MySqlDataDriver
    </property>
    <property name="connection.connection_string">
      Data Source=localhost;Database=hibernatedemo;User Id=root;Password=jay123
    </property>
    <property name="show_sql">false</property>
    <mapping assembly="Demo.Console.MagicBox." />
  </session-factory>
</hibernate-configuration>