<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="membase" type="Membase.Configuration.MembaseClientSection, Membase" />
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <!--*———————————————————————————————————————————————————————————*-->
  <connectionStrings>
    <add name="Wisense" connectionString="Data Source=server_orcl;User ID=jnmes; Password=jnmes;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <!--*———————————————————————————————————————————————————————————*-->
  <membase>
    <!-- 
      Please read the documentation first:
        http://github.com/enyim/EnyimMemcached/wiki/MembaseClient-configuration
      Use this section as a template if you're connecting to Membase Servers.
      Note: you must have the top-level membase section if you're using the parameterless constructor of MembaseClient.
    -->
    <servers bucket="default" bucketPassword="" retryCount="2" retryTimeout="00:00:02">
      <!--
        Provide at least 2-3 urls from your cluster. 
        Usually you only need to change the host, except when connecting to older versions.
        Membase uses port 8091, while the NorthScale Memcached Server (1.0.3) uses 8080
      -->
      <add uri="http://localhost:8091/pools/default" />
      <add uri="http://localhost:8091/pools/default" />
    </servers>
    <!-- the client waits deadTmimeout time to reconnect to the pool when all the specified urls are down -->
    <socketPool connectionTimeout="00:00:10" deadTimeout="00:00:10" />
  </membase>
  <!--*———————————————————————————————————————————————————————————*-->
  <log4net>
    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\" />
      <appendToFile value="true" />
      <maxFileSize value="100"/>
      <staticLogFileName value="false"/>
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd-HH-mm-ss&quot;.txt&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%date：%newline %message%newline" />
      </layout>
    </appender>
    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <!--文件形式记录日志-->
      <level value="All"/>
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <!-- 是否启用权限控制false，true -->
    <add key="EnablePermissionControl" value="true" />
    <!-- 是否启用验证码 -->
    <add key="EnableValidCode" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--缓存类型:AppFabric/Membase-->
    <add key="CachingType" value="Membase" />
    <!--主数据库类型:Oracle/MsSqlServer-->
    <add key="DbType" value="Oracle" />
    <!--Wisense分布式计算节点类名-->
    <add key="ComputingNodeLibraryName" value="Wisense.ItemCore.dll" />
    <add key="ComputingNodeClassName" value="Wisense.ItemCore.WisenseMiddleLayer" />
    <!--Wisense部署类型App/Web-->
    <add key="DeploymentType" value="App" />
    <!--Wisense_FlexPP运行时类型Production/Development-->
    <add key="RuntimeType" value="Development" />
    <!--*************************************************************************************************************-->
    <!--二进制数据存储方式:“RDB”(默认值)存储在关系数据库中；“NoSQL”存储在NoSQL中，支持大数据量，需要额外的部署-->
    <add key="BinaryDataPersistance" value="RDB" />
    <!--MongoDB连接串-->
    <add key="MongoDBConnectionString" value="mongodb://localhost/?safe=true" />
    <!--MongoDB数据库名-->
    <add key="MongoDBName" value="test" />
    <!--*************************************************************************************************************-->
    <!--<add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/FlexPP" value="3420;True;5760;1;-8588382882763716277" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />-->
  </appSettings>
  <!--*—————————————————————对象框架配置结束———————————————————————*-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>