<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mfconfig" type="MagicBox.MF.Cfg.Configuration,MagicBox.ModelingFramework"/>
  </configSections>
  <mfconfig>
    <!--数据库类型。可选：ORACLE,MYSQL,SQLSERVER-->
    <database value="ORACLE"/>
    <connectingStr value="Data Source=localhost;Database=hibernatedemo;User Id=root;Password=jay123"/>
  </mfconfig>
</configuration>


